<<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>View</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block head %} {% endblock %}
    </head>
    <style>
        .bod{
            height: 100%;
            overflow:hidden;
            
        }
        .fizz{
            position: absolute;
            height: 86%;
            width:70%;
            overflow:scroll;
            top: 17%;
            

        }
        .con {
            width: 50vw;
            position:relative;
            left: 30%;
            bottom: 20%;
            
        }
    
    </style>
    <body class="bod bg-slate-300">
        
        {% block content %} {% endblock %}
        
        
        <script src="https://cdn.tailwindcss.com"></script>
    </body>
</html>