{% extends 'base.html' %}

{% block content %}

{% include 'includes/navbar.html' %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
     {{ form.as_p }}
    <button type="submit">Upload</button>
</form>
  
  {% if img_obj %}
    <h3>Succesfully uploaded : {{img_obj.title}}</h3>
    <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
  {% endif %}
   








<div class="fizz">
    {%for i in picture %}
    <div class="con bg-slate-200 py-3">
        <p class="flex justify-center"> {{ i.image_slug }} </p>
        <br>
        <div class="flex justify-center">
            <img src="../media/{{i.image}}" height=200px width=200px> 
        </div>
        <br>
        <br>
    </div>
    {% endfor %}
</div>
{% endblock %}