{% extends 'base.html' %}

{% block content %}

{% include 'includes/navbar.html' %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
     {{ form.as_p }}
    <button type="submit">Upload</button>
</form>
  
  <div class="fizz">
      
    {%for i in picture %}
    <div class="con bg-slate-200 py-3">
        <br>
        <div class="flex justify-center">
            <img src="../media/{{i.image}}" height=200px width=200px> 
        </div>
        <p class="flex justify-center"> {{ i.image_caption }} </p>
        <br>
        <br>
    </div>
    {% endfor %}
</div>

   

{% endblock %}